/******************
* File: style.css
* Author: Scott Larson, Eric Satterness, Paul Bolanowski
* Date: 21 Oct 2012
*******************/

h1{
	color: black;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
}

#container { 
	border: 1px solid red;
	float: left;
}

#debugDraw {
	border: 1px solid red;
	float: left;
}