/*
css for project2 game
Author: Scott Larson
*/

h1{
	color: black;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
}

#container { border: 1px solid red; float: left}
#debugDraw { border: 1px solid red; float: left}